/* Colors:
    #2F5D3A - DARK GREEN
    #E6D8B8 - Light tan
    #E67E22 - Dark orange
    #4A7C8C - Light blue
 */

 *{
    margin: 0;
    padding: 0;
 }
body{
    background-color: #e6d8B8;
    
}


header{
    background-color: #2f5d3a;
    width: 100%;
    margin: 0;
    padding: 0;
}

.logo{
    background-color: #e6d8b8;
    border-radius: 50%;
    padding: 7px;
    margin: 4px 4px 0px 25px;
    grid-column: 1;
}


h1{
    font-family: montserrat;
}

header{
    display: grid;
    grid-template-columns: 200px 1fr 150px;
    box-shadow: 5px 5px 15px 0px #8f7846;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    grid-column: 2;
    display: flex;
    align-items: left;
    justify-content: space-between;
    margin-top: 35px;
}

nav a{
    float: left;
    color: #E6D8B8;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: montserrat;
    transition: transform .2s ease-in-out;
}
nav a:hover{
    transform: scale(1.1);
    text-decoration:underline;
    color: #E67E22
}

#container{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    margin-bottom: 40px;
}

#content{
    /* display: grid;
    grid-template-columns: 15% 70% 15%;
    margin-bottom: 40px; */
    grid-column: 2;
    align-items: center;
}

p{
    font-family: "Open Sans";
    /* grid-column: 2; */
    margin: 10px;
}

#links{
    /* grid-column: 2; */
    
    align-items: center;
    justify-self: center;
    margin: 10px;
}

#content img{
    /* grid-column: 2; */
    margin: 0px 227px 0px 227px;
    height: 275px;
    border-radius: 7px;
    box-shadow: 5px 5px 15px 0px #8f7846;
    margin-top: 5px;
}

#content h2{
    /* grid-column: 2; */
    font-family: montserrat;
    color: #E67E22;
    margin: auto;
    padding-top: 40px;
    text-shadow: 3px 3px 4px #c4a563;
    text-align: center;
}

#content ul{
    /* grid-column: 2; */
    font-family: "Open Sans";
    margin: auto;
    padding-left: 315px;
}

#content h1{
    color: #E67E22;
    /* grid-column: 2; */
    text-align: center;
    padding: 20px;
    text-shadow: 3px 3px 4px #c4a563;
}
#links h2{
    text-align: center;
}

.button{
    display: block;
    background-color:#4A7C8C;
    color: #E6D8B8;
    text-decoration: none;
    margin: auto;
    padding: 15px 350px;
    border-radius: 7px;
    box-shadow: 5px 5px 15px 0px #8f7846;
    width: 200px;
    text-align: center;
    font-family: "Open Sans";
    color: #E6D8B8;
    transition: transform .2s ease-in-out;
}

.button:hover{
    transform: scale(1.1);
    color:#843f02;
}